.container {
    max-width: 1024px;
    width: 100%;
    min-height: 75vh;
    height: auto;
    padding: 10px 5px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e9e8e8;
}